__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

data/raw/*.csv
data/raw/*.parquet
data/interim/*.csv
data/interim/*.parquet
data/processed/*.csv
data/processed/*.parquet
data/external/*.csv
data/external/*.parquet

outputs/figures/*.png
outputs/figures/*.pdf
outputs/tables/*.csv
outputs/tables/*.txt

.DS_Store
Thumbs.db
